.chat{
width: 230px;
			display: flex;
			flex-direction: column;
			padding: 20px;
			}

			.messages {
			margin-top: 30px;
			display: flex;
			flex-direction: column;
			}

			@keyframes fadeIn {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}

			.chat .message:nth-child(1) {
				animation-delay: 5s;
			}
			.chat .message:nth-child(2) {
				animation-delay: 5.5s;
			}
			.chat .message:nth-child(3) {
				animation-delay: 6s;
			}
			.chat .message:nth-child(4) {
				animation-delay: 6.5s;
			}
			.chat .message:nth-child(5) {
				animation-delay: 7s;
			}

			.message {
				border-radius: 10px;
				padding: 8px 15px;
				margin-top: 5px;
				margin-bottom: 5px;
				display: inline-block;
				cursor:default;
				font-family: 'Raleway', sans-serif;
				font-size: 15px;
				opacity: 0;
				animation: fadeIn 1s ease-in both;
			}

			.yours {
			align-items: flex-start;
			}

			.yours .message {
			margin-right: 15%;
			background-color: white;
			color: #003251;
			text-align: left;
			position: relative;

			}

			.yours .message.last:before {
			content: "";
			position: absolute;
			z-index: 0;
			bottom: 0;
			left: -7px;
			height: 20px;
			width: 20px;
			background: white;
			border-bottom-right-radius: 15px;
			}
			.yours .message.last:after {
			content: "";
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: -10px;
			width: 10px;
			height: 20px;
			background: black;
			border-bottom-right-radius: 10px;
			}

			.option {
			align-items: flex-end;
			}

			.option .message {
			color: white;
			margin-left: 15%;
			background: rgb(0,26,42);
			position: relative;
			text-align: right;
			}

			.option .message:hover {
				background: rgb(0,50,81);
			}

			.option .message.last:before {
			content: "";
			position: absolute;
			z-index: 0;
			bottom: 0;
			right: -8px;
			height: 20px;
			width: 20px;
			background: rgb(0,26,42);
			border-bottom-left-radius: 15px;
			}

			.option .message.last:after {
			content: "";
			position: absolute;
			z-index: 1;
			bottom: 0;
			right: -10px;
			width: 10px;
			height: 20px;
			background: black;
			border-bottom-left-radius: 10px;
			}

			.user {
			align-items: flex-end;
			}

			.user .message {
			color: white;
			margin-left: 15%;
			background: rgb(0,50,81);
			position: relative;
			text-align: right;
			}

			.user .message.last:before {
			content: "";
			position: absolute;
			z-index: 0;
			bottom: 0;
			right: -8px;
			height: 20px;
			width: 20px;
			background: rgb(0,50,81);
			border-bottom-left-radius: 15px;
			}

			.user .message.last:after {
			content: "";
			position: absolute;
			z-index: 1;
			bottom: 0;
			right: -10px;
			width: 10px;
			height: 20px;
			background: black;
			border-bottom-left-radius: 10px;
			}